body {
  background-color: aqua;
}

h1 {
  font-family: Verdana, sans-serif;
}

h2 {
  font-family: Verdana, sans-serif;
}

p {
  font-family: Verdana, sans-serif;
}

footer {
  font-family: Verdana, sans-serif;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 20px;
  margin: 0 20px;
}

article {
  border-radius: 10px;
  background-color: chartreuse;
  border: solid;
  padding: 0 10px;
  /*margin: 5px 0 20px 30px;*/
  /*height: 610px;
  width: 580px;*/
}

footer {
  border: solid;
  border-radius: 10px;
  background-color: chartreuse;
  height: 21px;
  margin: 20px 20px;
  padding: 5px;
}

a {
  color: darkgreen;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}